[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==1.15.3"
Pillow = "==7.2.0"
flask = "*"
gunicorn = "*"
pip = "==20.2.4"

[dev-packages]
autopep8 = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.6"
